{% set jj_icon = "JJ" -%}
{% set git_icon = "+-" -%}
{% set bookmark_prefix = "" -%}
{% set rebasing_icon = "REBASING" -%}
{% set conflict_icon = "CONFLICT" -%}
{% set divergent_icon = "DIVERGENT" -%}
{% set hidden_icon = "HIDDEN" -%}
{% set immutable_icon = "IMMUTABLE" -%}
{% set empty_icon = "(EMPTY)" -%}
{% set stale_icon = "STALE" -%}
{% set files_icon = "f" -%}
{% set lines_icon = "l" -%}
{% set workspace_open = "/" -%}
{% set workspace_close = "\" -%}
{% include "detail.tera" %}
